<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar">
  </ion-searchbar>

  <ion-item>
    <ion-button>Privacidade</ion-button>
  </ion-item>
  <ion-item>
    <ion-button>Segurança</ion-button>
  </ion-item>
  <ion-item>
    <ion-button>Ajuda</ion-button>
  </ion-item>
  <ion-item>
    <ion-button>Tema</ion-button>
  </ion-item>
  <ion-item>
<ion-button>Sair</ion-button>
  </ion-item>
</ion-content>
<!--https://www.youtube.com/watch?v=ztIatAnEyek-->